body {
	margin: 0;
}

body h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

body p, a{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

.wrapper {
	background-image: url(../images/asanoha-400px.png);
	background-repeat: repeat;
	width: 100%;
}

/*Navigation*/
.topbar {
	background-color: #ffffff;
	position: relative;
	height: 65px;
	width: 100%;
	border-bottom: 2px solid #cccccc;
}

.nav {
	position: absolute;
	background: #ffffff;
	bottom: 25px;
	right: 100px;
}

.nav a {
	text-decoration: none;
	font-size: 13px;
	padding: 0 8px;
}

.logo {
	height: 65px;
	width: 200px;
	float: left;
	background: #4aaaa5;
	margin-left: 80px;
	text-align: center;
}

.logo h1{
	font-size: 24px;
	line-height: 65px;
	font-weight: bold;
	color: #ffffff;
	vertical-align: middle;
}

/*Home Body*/
.body-content {
	width: 960px;
	height: 100vh;
	padding: 30px 0;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.profile-pic {
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
}

.main-content {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	width: 610px;
	float: left;
	padding: 20px;
}

.main-content h1 {
	font-size: 24px;
	font-weight: bold;
	color: #4aaaa5;
	padding: 10px 0;
}

.main-content p {
	font-size: 13px;
	line-height: 25px;
}

.sidebar {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	float: right;
	width: 230px;
	padding: 20px;
}

.sidebar h3 {
	font-size: 16px;
	font-weight: bold;
	color: #4aaaa5;
	padding: 5px 0;
}

.social {
	display: inline;
	padding-top: 15px;
}

.social-left {
	padding-right: 5px;
}

/*Footer*/
.body-footer {
	clear: both;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	padding: 15px 0;
	background: #666666;
	border-top: 7px solid #4aaaa5;
	text-align:center;
}

.body-footer p{
	font-size: 12px;
	line-height: 50px;

}




